.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
  .card {
    border: 1px solid red;
    display: flex;
    align-items: center;
    padding: 1rem;

    .thumbnail {
      margin-right: 1rem;
      background: white;
      height: 100px;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 100px;
        width: 100px;
      }
      .text-as-image {
        height: 100px;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba($color: #000000, $alpha: 0.2);
        p {
          text-align: center;
          overflow-wrap: break-word;
          word-wrap: break-word;
          hyphens: auto;
        }
      }
      .nsfw {
        background: crimson;
      }
    }

    .header {
      width: 100%;
      .primary {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
      }
      .secondery {
        display: flex;
        gap: 1rem;
      }
    }
  }
}
