<div *ngIf="posts" class="container">
  <div *ngFor="let post of posts" class="card" (click)="openPost(post)">
    <div class="thumbnail">
      <img
        *ngIf="isURL(post.thumbnail)"
        [src]="post.thumbnail"
        [alt]="post.title"
      />
      <div
        *ngIf="!isURL(post.thumbnail)"
        class="text-as-image"
        [class.nsfw]="post.thumbnail === 'nsfw'"
      >
        <p>{{post.subreddit}}</p>
      </div>
    </div>

    <div class="header">
      <div class="primary">
        <h1 class="title">{{post.title}}</h1>
        <p class="aproval">{{post.upvote_ratio | percent}}</p>
      </div>
      <div class="secondery">
        <p class="author">Author: {{post.author}}</p>
        <p class="sub">Sub: {{post.subreddit}}</p>
      </div>
    </div>
  </div>
</div>
